@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FOODIES</h1>
    
</div>
<button class="btn btn-danger" value="Go baby Go" onclick="location.href='@Url.Action("RedirectoToFacebook","Home")'"></button>
<div class="custom-image">
    <div class="content">
        <h1>Wanna Meat?!</h1>
        <p>
            Don't you just love sharing good food with great people. We bring you over a 100 Restaurants to choose from, just by using <a href="#">Foodie.</a> A way to also share new cuisine experiences with old friends as well create old nostalgia with new friends and loved ones.
        </p>
        <a href="mailto:kayo2k14@gmail.com?Subject=Reservation" target="_blank">MAKE RESERVATION</a>
    </div>
</div>


